<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/BaseModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/ViewModel.js"></script>
</head>
<body>
    <div class="calculator">
        <div class="display">
            <p>Memory: <span data-bind="text: model.memory"></span></p>
            <p>Result: <span data-bind="text: model.result"></span></p>
            <p><input data-bind="value: model.current" readonly /></p>
        </div>
        <div class="numbers" data-bind="foreach: model.numbers">
            <input type="button" data-bind="value: $data.value, click: $root.addNumber" />
        </div>
        <div class="operators" data-bind="foreach: model.operators">
            <input type="button" data-bind="value: $data.operator, click: $root.runCommand" />
        </div>
    </div>
</body>
</html>